<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>org.ruby-china.rnotice</string>
        <key>ProgramArguments</key>
        <array>
                <string><%= rvm_bin_path %></string>
                <string><%= ruby_gemset %></string>
                <string><%= run_file %></string>
        </array>
				<key>KeepAlive</key>
				<true/>
				
				<key>RunAtLoad</key>
        <true/>
        <key>StandardErrorPath</key>
        <string>/tmp/rnotice.err</string>
        <key>StandardOutPath</key>
        <string>/tmp/rnotice.out</string>
</dict>
</plist>
